body{
    background: rgb(90, 90, 90);
    margin: 0px;
}
.container {
    height: 55vh;
    width: 55vh;
    background: rgb(90, 90, 90);
    position: fixed;
    top: 25%;
    left: 36%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
} 

h1 {
    color:rgb(255, 255, 255);
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-style: inset; 
    border-color: white;
    padding: 25px;
    border-radius: 50%;
}
.square {
    height: 150px;
    width: 150px;
    background:rgb(255, 255, 255);
    box-shadow: 10px 10px 10px rgb(51, 50, 50);
}

.square:hover{
    background-color: aqua;
}